# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# Env / secrets
.env
.env.*
!.env.example

# OS / editor
.DS_Store
.vscode/
.idea/

# Streamlit cache
.streamlit/secrets.toml
